header {
    color: white;
    background-color: #DFBB9D;
}

nav {
    background-color: #F7E2D6;
}

section {
    grid-column: 1/4;
    background-color: #9DD6DF;
}

aside {
    grid-column: 4/5;
    background-color: #A084CF;
}

footer {
    color: white;
    background-color: #DFBB9D;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.menu {
    padding: 0px 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.menu>li {
    float: left;
}

.menu li a {
    background-color: black;
    color: #fff;
    text-decoration: none;
    padding: 20px 80px;
    display: block;
}

.menu li a:hover {
    background-color: chocolate;
}

.menu li ul {
    display: none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    min-width: 140px;
}

.menu li:hover>ul {
    display: block;
}

.menu li ul li {
    position: relative;

}

.menu li ul li ul {
    right: 140px;
}